<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hotel Booking</title>
    @Styles.Render("~/content/layout")

    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>

</head>
<body>
    <div class="colorlib-loader"></div>
    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            @Html.Partial("Partials/_Header")
        </nav>
        @Html.Partial("Partials/_Banners")

        @Html.Partial("Partials/_Search")

        @Html.Partial("Partials/_Services")


        <div id="colorlib-rooms" class="colorlib-light-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                        <span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
                        <h2>Rooms &amp; Suites</h2>
                        <p>Với không gian cao cấp và sang trọng, đầy đủ tiện nghi, trang thiết bị hiện đại, không gian thân thiện được bài trí trang nhã và ấm áp.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 animate-box">
                        <div class="owl-carousel owl-carousel2">
                            @RenderBody()
                        </div>
                    </div>
                    <div class="col-md-12 text-center animate-box">
                        <a href="@Url.Action("Rooms","Rooms")">View all rooms <i class="icon-arrow-right3"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="colorlib-dining-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                        <span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
                        <h2>Dining &amp; Bar</h2>
                        <p>We love to tell our successful far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="diningbar-flex">
                        <div class="half animate-box">
                            <ul class="nav nav-tabs text-center" role="tablist">
                                <li role="presentation" class="active"><a href="#mains" aria-controls="mains" role="tab" data-toggle="tab">Mains</a></li>
                                <li role="presentation"><a href="#desserts" aria-controls="desserts" role="tab" data-toggle="tab">Desserts</a></li>
                                <li role="presentation"><a href="#drinks" aria-controls="drinks" role="tab" data-toggle="tab">Drinks</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="mains">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="menu-dish">
                                                <li>
                                                    <figure class="image"><img src="~/images/menu-1.jpg" alt="Free Bootstrap Template by colorlib.com"></figure>
                                                    <div class="text">
                                                        <span class="price">$25.99</span>
                                                        <h3>Grilled Pork</h3>
                                                        <p class="cat">Meat / Potatoes / Rice</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <figure class="image"><img src="~/images/menu-2.jpg" alt="Free Bootstrap Template by colorlib.com"></figure>
                                                    <div class="text">
                                                        <span class="price">$30.99</span>
                                                        <h3>Tuna Roast Source</h3>
                                                        <p class="cat">Tuna / Potatoes / Rice</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <figure class="image"><img src="~/images/menu-3.jpg" alt="Free Bootstrap Template by colorlib.com"></figure>
                                                    <div class="text">
                                                        <span class="price">$40.00</span>
                                                        <h3>Roast Beef (4 sticks)</h3>
                                                        <p class="cat">Crab / Potatoes / Rice</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <figure class="image"><img src="~/images/menu-4.jpg" alt="Free Bootstrap Template by colorlib.com"></figure>
                                                    <div class="text">
                                                        <span class="price">$20.50</span>
                                                        <h3>Salted Fried Chicken</h3>
                                                        <p class="cat">Crab / Potatoes / Rice</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="desserts">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="menu-dish">
                                                <li>
                                                    <figure class="image"><img src="~/images/menu-1.jpg" alt="Free Bootstrap Template by colorlib.com"></figure>
                                                    <div class="text">
                                                        <span class="price">$39.90</span>
                                                        <h3>Fried Potatoes with Garlic</h3>
                                                        <p class="cat">Viggies / Potatoes / Rice</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <figure class="image"><img src="~/images/menu-3.jpg" alt="Free Bootstrap Template by colorlib.com"></figure>
                                                    <div class="text">
                                                        <span class="price">$20.99</span>
                                                        <h3>Tuna Roast Source</h3>
                                                        <p class="cat">Tuna / Potatoes / Rice</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <figure class="image"><img src="~/images/menu-3.jpg" alt="Free Bootstrap Template by colorlib.com"></figure>
                                                    <div class="text">
                                                        <span class="price">$50.00</span>
                                                        <h3>Roast Beef (4 sticks)</h3>
                                                        <p class="cat">Crab / Potatoes / Rice</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <figure class="image"><img src="~/images/menu-4.jpg" alt="Free Bootstrap Template by colorlib.com"></figure>
                                                    <div class="text">
                                                        <span class="price">$29.00</span>
                                                        <h3>Salted Fried Chicken</h3>
                                                        <p class="cat">Crab / Potatoes / Rice</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="drinks">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="menu-dish">
                                                <li>
                                                    <figure class="image"><img src="~/images/menu-8.jpg" alt="Free Bootstrap Template by colorlib.com"></figure>
                                                    <div class="text">
                                                        <span class="price">$25.00</span>
                                                        <h3>Fried Potatoes with Garlic</h3>
                                                        <p class="cat">Viggies / Potatoes / Rice</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <figure class="image"><img src="~/images/menu-9.jpg" alt="Free Bootstrap Template by colorlib.com"></figure>
                                                    <div class="text">
                                                        <span class="price">$20.50</span>
                                                        <h3>Tuna Roast Source</h3>
                                                        <p class="cat">Tuna / Potatoes / Rice</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <figure class="image"><img src="~/images/menu-3.jpg" alt="Free Bootstrap Template by colorlib.com"></figure>
                                                    <div class="text">
                                                        <span class="price">$30.00</span>
                                                        <h3>Roast Beef (4 sticks)</h3>
                                                        <p class="cat">Crab / Potatoes / Rice</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <figure class="image"><img src="~/images/menu-4.jpg" alt="Free Bootstrap Template by colorlib.com"></figure>
                                                    <div class="text">
                                                        <span class="price">$29.99</span>
                                                        <h3>Salted Fried Chicken</h3>
                                                        <p class="cat">Crab / Potatoes / Rice</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end half -->
                        <div class="half diningbar-img" style="background-image: url('/images/cover_img_1.jpg');"></div><!-- end half -->
                    </div>
                </div>
            </div>
        </div>

        <div id="colorlib-testimony" class="colorlib-light-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                        <span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
                        <h2>Our Satisfied Guests says</h2>
                        <p>Để không ngừng nâng cao chất lượng dịch vụ và đáp ứng tốt hơn nữa các yêu cầu của Quý hàng, chúng tôi mong muốn nhận được các thông tin phản hồi. Nếu quý khách có bất kì thắc mắc hoặc đóng góp nào, xin vui lòng liên hệ với chúng tôi. Chúng tôi sẽ phản hồi lại Quý khách trong thời gian sớm nhất.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 animate-box">
                        <div class="testimony text-center">
                            <span class="img-user" style="background-image: url('/images/person2.jpg');"></span>
                            <span class="user">Brian Doe</span>
                            <small>Satisfied Customer</small>
                            <blockquote>
                                <p> Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-md-4 animate-box">
                        <div class="testimony text-center">
                            <span class="img-user" style="background-image: url('/images/person1.jpg');"></span>
                            <span class="user">Nathalie Miller</span>
                            <small>Satisfied Customer</small>
                            <blockquote>
                                <p> Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-md-4 animate-box">
                        <div class="testimony text-center">
                            <span class="img-user" style="background-image: url('/images/person3.jpg');"></span>
                            <span class="user">Shara Jones</span>
                            <small>Satisfied Customer</small>
                            <blockquote>
                                <p> Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @Html.Partial("Partials/_SignUpEmail")
        @Html.Partial("Partials/_Footer")
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>

    @Scripts.Render("~/scripts/layout")

</body>
</html>
